<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Character</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <img id="headerImg" src="/header.png" alt="">
          <a href="/fav">My Characters</a>
          <a href="/">Home</a>
      </header>
    <main id="formPage">
        <form action="/fav/update/<%=element.id%>?_method=PUT" method="POST">
            <label for="name">Name</label><br>
            <input type="text" name="name" value="<%=element.name%>"><br>
            <label for="patronus">patronus</label><br>
            <input type="text" name="patronus" value="<%=element.patronus%>"><br>
            <label for="alive">Alive</label><br>
            <select name="alive">
                <option id="true" value = "true">True</option>
                <option id="false" value = "false">False</option>
            
          </select>
   

    <button>update</button>
    </form><br>
    <form action="/fav/delete/<%=element.id%>?_method=delete" method="POST">
    <button id="btn">DELETE</button></form>
</main>
</body>
</html>