<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorite</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <img id="headerImg" src="header.png" alt="">
          <a href="/fav">My Characters</a>
          <a href="/">Home</a>
      </header>
    <h1>My Characters</h1>
    <main>
    <%result.forEach(element=>{%>
        <section>
            
            <p>Name: <%= element.name%></p>
            <p>Patronus: <%= element.patronus%></p>
            <p>Alive: <%= element.alive%></p>
        <form action="/fav/<%=element.id%>" method="GET">
        <button>View Character</button>
        </form>
        </section>

    <%})%>
</main>
</body>
</html>