<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
     <img src="gryffindor.png" alt=""> 
     <a href="/gryffindor/characters">Gryffindor</a>
  </section>
  <section>
    <img src="hufflepuff.png" alt=""> 
    <a href="/hufflepuff/characters">hufflepuff</a>
 </section>
 <section>
    <img src="ravenclaw.png" alt=""> 
    <a href="/ravenclaw/characters">ravenclaw</a>
 </section>
 <section>
    <img src="slytherin.png" alt=""> 
    <a href="/slytherin/characters">slytherin</a>
 </section>
</body>
</html>