<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/fav">My Characters</a>
    </header>
    <main id="home">
  <div>
     <img id="img1" src="gryffindor.png" alt=""> 
     <a id="i1" href="/gryffindor/characters">Gryffindor</a>
  </div>
  <div>
    <img src="hufflepuff.png" alt=""> 
    <a id="i2" href="/hufflepuff/characters">hufflepuff</a>
  </div>
 <div>
    <img src="ravenclaw.png" alt=""> 
    <a id="i3" href="/ravenclaw/characters">ravenclaw</a>
 </div>
 <div>
    <img src="slytherin.png" alt=""> 
    <a id="i4" href="/slytherin/characters">slytherin</a>
 </div>
</main>
</body>
</html>