<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <img id="headerImg" src="header.png" alt="">
      <a href="/fav">My Characters</a>
      <a href="/">Home</a>
  </header>
    <main >
  <div>
   <a id="i1" href="/gryffindor/characters">
     <img id="img1" src="gryffindor.png" alt=""> 
    <p>Gryffindor</p> </a>
  </div>
  <div>
   <a id="i2" href="/hufflepuff/characters">
    <img src="hufflepuff.png" alt=""> 
   <p>hufflepuff</p> </a>
  </div>
 <div>
   <a id="i3" href="/ravenclaw/characters">
    <img src="ravenclaw.png" alt=""> 
  <p>ravenclaw</p> </a>
 </div>
 <div>
   <a id="i4" href="/slytherin/characters">
    <img src="slytherin.png" alt=""> 
  <p>slytherin</p> </a>
 </div>
</main>
</body>
</html>